# Read by zimfw only; not sourced during shell startup.

zmodule environment
zmodule git
zmodule input
zmodule termtitle
zmodule utility

# Prompt
zmodule duration-info
zmodule git-info
zmodule prompt-pwd
zmodule magicmace

# Completion: must come after all modules that add completion definitions.
zmodule zsh-users/zsh-completions --fpath src
zmodule completion

# Must be initialized last, in this order.
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
zmodule pabloariasal/zfm
